* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #272727;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

body {
    padding: 0;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

ul {
    list-style-image: url("/img/checkmark-circle-outline.svg");
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    display: inline-block; 
    text-align: left;
    color: #000000;
}

b {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;

    color: #000000; 
}
/* HEADER START */

.header {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
}


.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .header {
        height: fit-content;
    }
}

.flex-logo {
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 0.5%;
    width: 126px;
    height: 34px;
    left: 165px;
    top: 20px;  
    align-items: center;
    text-align: center;
}

.flex-logo:hover {
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));

}

.flex-nav-item {
    margin-left: 70px;
    margin-top: 1%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
}

.nav-buttons {
    margin-left: 37%;
    margin-top: 0.8%;
}

/* HEADER END */

/* MAIN SECTION START */

.background-box {
    width: auto;
    height: auto;
}

.background {
    width: 100%;
    position: relative;
}

@media (max-width: 1000px) {
    .background {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .background {
        height: 40%;
        top: 15%;
    }
}
@media (max-width: 500px) {
    .background {
        width: 100%;
        top: 15%;
    }
}

.centered-block {
    text-align: center;

}

.main-box {
    margin-top: -35%;
    margin-left: 32%;
    margin-bottom: 18%;
    width: 730px;
    height: fit-content;
    background: rgba(247, 248, 250, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.block-line > span {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    color: #1D252C;
}

.block-line > small {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    padding-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;   
    text-align: center;
    color: #1D252C;
}

.block-line > button {
    padding: 8px 44px;
    width: 310px;
    height: 40px;
    left: 565px;
    top: 496px;
    border: none;
    margin-top: 70px;
    margin-bottom: 30px;
    background: #56B280;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20.6452px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.block-line > button:hover {
    cursor: pointer;
    background: #60c28c; 
}

@media (max-width: 1600px) {
    .main-box {
        margin-top: -35%;
        margin-left: 28%;
        margin-bottom: 18%;
    }
}
@media (max-width: 1400px) {
    .main-box {
        margin-top: -35%;
        margin-left: 24%;
        margin-bottom: 18%;
    }
}
@media (max-width: 1100px) {
    .main-box {
        margin-top: -35%;
        margin-left: 18%;
        margin-bottom: 18%;
    }
}

@media (max-width: 1000px) {
    .main-box {
        margin-top: -35%;
        margin-left: 8.5%;
        margin-bottom: 18%;
    }
    .block-line > button {
    margin-top: 20px;
    }
}

@media (max-width: 850px) {
    .main-box {
        margin-top: -45%;
        margin-left: 5.5%;
        margin-bottom: 18%;
    }
    .block-line > button {
    margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .main-box {
        margin-top: -45%;
        margin-left: 18%;
        margin-bottom: 18%;
        width: 500px;
    }
    .block-line > button {
        margin-top: 20px;
    }
}

@media (max-width: 650px) {
    .main-box {
        margin-top: -45%;
        margin-left: 18%;
        margin-bottom: 18%;
        width: 300px;
    }
    .block-line > button {
        margin-top: 20px;
        width: 210px;
    }
}


/* MAIN SECTION END */

/* PRODUCT SECTION START */

.products {
    background: #FFFFFF;
}

.section-info {
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.section-info > span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;  
    text-align: center;
    letter-spacing: -0.9px;
    
    color: #0B254B;
}

.section-info > small {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;

    color: #5E6E89;
}

.flex-product-container {
    display: flex;
    flex-direction: row;
    margin: 40px 80px;
    width: auto;
    flex-flow: row wrap;
    margin-bottom: 150px;
}

@media (max-width: 800px) {
    .flex-product-container {
        /* flex-direction: column; */
        margin: 20px 20px;
    }
}

.flex-product {
    margin-left: 100px;
    margin-top: 100px;
    height: 255px;
    width: 230px;
    background: #F7F8FA;
    border-radius: 11px;
    filter: drop-shadow(0px 4px 24px rgba(123, 123, 123, 0.4));
}

.flex-product:hover {
    background: #eeeeee;
    cursor: pointer;
    filter: drop-shadow(0px 4px 24px rgba(123, 123, 123, 0.7));
}

.flex-product > img {
    width: 230px;
    height: auto;
    max-height: 160px;
}

.product-info-box {
    border-radius: 0px 0px 11px 11px;
    height: 76px;
    width: auto;
    background-color: #FFFFFF;
}

.product-info-box:hover {
    background-color: #f8f8f8;
}

.product-title {
    margin-left: 25px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.9px;
    padding-top: 10px;
    
    color: #1D293F;
}

.product-price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #56B280;
    margin-left: 160px;
}

/* PRODUCT SECTION END */

/* BENEFITS SECTION START */

.benefits {
    height: fit-content;
    width: auto;
    background: #F7F8FA;
}

.flex-text-container {
    margin-top: 70px;
    text-align: center;
    align-items: center;

    height: fit-content;
    width: 50%;
    /* background-color: #56B280; */
}

@media (max-width: 800px) {
    .flex-text-container {
        width: 100%
    }
    .benefits {
        margin-top: 50px;
    }
}

.flex-text-container > h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    letter-spacing: -0.9px;
}

.flex-text-container > h3 {
    vertical-align: -50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    margin-top: -25px;
    margin-bottom: 20px;

    color: #56B280;
}

.flex-image-container {
    margin-top: 40px;
    text-align: center;
}

/* BENEFITS SECTION END */

/* TESTIMONIAL SECTION START */

.testimonial {
    padding-top: 50px;
    height: fit-content;
    width: auto;
    background: rgba(86, 178, 128, 0.1);
}

.testimonial > .flex-container {
    margin-top: 70px;
    margin-left: 300px;
}

.flex-testi-container {
    display: flex;
    flex-direction: row;
    width: auto;
    flex-flow: row wrap;
    margin-left: 300px;
    margin-right: 200px;
}


.flex-testi-item {
    margin-right: 50px;
    height: 350px;
    width: 395px;
    background: white;
    box-shadow: 0px 4px 24px rgba(139, 167, 178, 0.4);
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-testi-item:hover {
    box-shadow: 0px 4px 24px rgba(139, 167, 178, 0.7);
}

.flex-testi-item > .avatar {
    margin-left: 133px;
    margin-top: 23px;
}

.flex-testi-item > .stars {
    margin-left: 130px;
}

.flex-testi-item > h1 {
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;

    text-align: center;
    color: #1D293F;
}

.flex-testi-item > h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #7C8087;
}

@media (max-width: 800px) {
    .flex-testi-container {
        margin-left: 50px;
    }
    .flex-testi-item > .avatar {
        margin-left: 113px;
    }
    .flex-testi-item > .stars {
        margin-left: 110px;
        margin-right: 100px;
    }
    .flex-testi-item {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .flex-testi-item:last-child {
        margin-bottom: 50px;
        margin-top: 10px;
    }
}

/* TESTIMONIAL SECTION END */

/* FOOTER SECTION START */

.footer {
    width: 100%;
    height: fit-content;
    background: #272727;
}

.flex-footer-elements {
    margin-left: 270px;
    margin-right: 270px;
    padding-top: 50px;

    display: flex;
    flex-direction: row;
}

.footer-col-img > h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.5px;

    color: #FFFFFF;
}
.footer-col-img {
    margin-right: 400px;
}
.footer-nav-items {
    margin-right: 100px;
}

.footer-nav-items > h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    
    color: #56B280;
}

.footer-nav-items > a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    white-space: pre;

    color: #E1E1E1;
}

@media (max-width: 1500px) {
    .footer-col-img {
        margin-right: 100px;
    }
}
@media (max-width: 1180px) {
    .footer-col-img {
        margin-right: 20px;
    }
    .flex-footer-elements {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .flex-footer-elements {
        flex-direction: column;
    }
    .flex-footer-elements {
        margin-left: 150px;
        text-align: center;
    }
    .footer-col-img > h4 {
        display: none;
    }
}
/* FOOTER SECTION END */

/* CREDIT SECTION START */

.credit {
    width: 100%;
    height: fit-content;
    background: #E5E5E5;
}

.credit > .flex-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.credit > .flex-container >span {
    padding-left: 75px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: #5E6E89;
}

.credit > .flex-container > small {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    right: 75px;
    color: #5E6E89;
}

@media (max-width: 800px) {
    .credit > .flex-container > span {
        position: relative;
        text-align: center;
        padding: 0;
    }
    .credit > .flex-container > small {
        position: relative;
        text-align: center;
        right:0;
    }
}